---
import SocialButtons from '@components/SocialButtons.astro'
import { getI18N } from '@i18n/index'
import Title from './Title.astro'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const currentYear = new Date().getFullYear().toString()
---

<section id={i18n.SECTION_CONTACT_ID} class="scroll-mt-28">
  <div class="flex flex-col lg:md-0 mx-auto container pt-24 pb-12 w-full wrapper">
    <Title classes="lg:pb-20 pb-10">
      <h2
        class="lg:text-8xl text-4xl uppercase font-medium max-w-lg"
        slot="title"
        set:html={i18n.SECTION_CONTACT_TITLE}
      />
      <p set:html={i18n.SECTION_CONTACT_SUBTITLE_1} class="text-4xl lg:text-5xl" slot="subtitle" />
      <p set:html={i18n.SECTION_CONTACT_SUBTITLE_2} class="text-md lg:text-lg" slot="subtitle" />
    </Title>

    <div
      class="flex items-center flex-wrap gap-4 bg-muted/9 py-4 px-6 rounded-rounding-md text-xl justify-between"
    >
      <div>
        <small>© SANDRA LUQUE {currentYear}</small>
      </div>
      <SocialButtons classes="gap-8" />
      <div>
        <p>chambiluquesandra@gmail.com</p>
      </div>
    </div>
  </div>
</section>
